footer{
   background-color: $color-primary;
   border-top: 1px solid #ccc;
   padding: 20px;
   text-align: center;
   font-size: 14px;
   & li{
      list-style-type: none;
      padding-top: 10px;
   }
}


// RESPONSIVE

@media screen and (min-width: 768px){
   .footer__content{
      width: 80%;
      margin: 0 auto;
      text-align: center;
   }
}