<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orinoco vous propose un large choix d'oursons faits à la main et personnalisables.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="icon" type="image/png" href="../../public/img/favicon.png" />
    <title>Orinoco</title>
</head>


<body>

    <header>
        <div class="logo"><a href="../index.html">
            <img src="../../public/img/logo_orinoco.png" alt="logo Ohmyfood"/></a>
        </div>
            
        <nav class="bag">
            <a href="../index.html" title="panier">accueil</a>            
        </nav>
    </header>


    <main>
        <h1>Panier</h1>
        
        <div class="cart">
            <!--<section class="cart__items">
                <div class="cart__items__img">
                    <img src="../../../backend/images/teddy_1.jpg" alt="Photo d'un ours en peluche">
                </div>
                <div class="cart__items__content">
                    <h2>Norbert</h2>
                    <p>39.99€</p>
                    <p>Quantité</p>
                    <input type="number" class="itemQuantity" name="itemQuantity" min="1" max="100" value="1">
                    <i class="far fa-trash-alt"></i>
                </div>
            </section>

            <section class="cart__price">
                <p>Total : <span>39.99 €</span></p>
            </section>

            <section class="cart__order">
                <h3>Finaliser la commande :</h3>
                <form method="get" class="cart__order__form">
                    <div class="cart__order__form__question">
                        <label for="lastName">Nom: </label>
                        <input type="text" name="lastName" id="lastName" required>
                    </div>
                    <div class="cart__order__form__question">
                        <label for="firstName">Prénom: </label>
                        <input type="text" name="firstName" id="firstName" required>
                    </div>
                    <div class="cart__order__form__question">
                        <label for="email">Email: </label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="cart__order__form__question">
                        <label for="address">Adresse: </label>
                        <input type="text" name="address" id="address" required>
                    </div>
                    <div class="cart__order__form__question">
                        <label for="city">Ville: </label>
                        <input type="text" name="city" id="city" required>
                    </div>
                    <div class="cart__order__form__submit">
                        <input type="submit" value="Valider la commande" id="order">
                    </div>
                </form>
            </section>-->
        </div>
    </main>


    <footer>
        <img src="../../public/img/orinoco_footer.png" alt="logo Orinoco"/>
        <ul>
            <li><a href="#">Mentions Légales</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>

    <script src="https://kit.fontawesome.com/a93f4ee5a9.js" crossorigin="anonymous"></script>

    <script src="cart.js"></script>
    <script src="../../models/form.js"></script>
    <script src="../../models/productManager.js"></script>
    

</body>

</html>