<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orinoco vous propose un large choix d'oursons faits à la main et personnalisables.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="icon" type="image/png" href="../../public/img/favicon.png" />
    <title>Orinoco</title>
</head>


<body>

    <header>
        <div class="logo"><a href="../index.html">
            <img src="../../public/img/logo_orinoco.png" alt="logo Ohmyfood"/></a>
        </div>
            
        <nav class="cart">
            <a href="../cart/cart.html" title="panier">panier</a>            
        </nav>
    </header>







    <footer>
        <img src="../../public/img/orinoco_footer.png" alt="logo Orinoco"/>
        <ul>
            <li><a href="#">Mentions Légales</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </footer>

    <script src="https://kit.fontawesome.com/a93f4ee5a9.js" crossorigin="anonymous"></script>

    <script src="cart.js"></script>
    <script src="../../models/product.js"></script>

</body>

</html>