main{
    display: flex;
    flex-direction: column;
    & h1{
        text-align: center;
        margin: 50px 0 0 0;
    }
}

.cart{ 
    max-width: 1200px;
	margin: 50px auto;
}

// CART ITEMS

.cart__items{
    display: flex;
    margin-bottom: 50px;
    padding: 20px;
    background-color: $color-primary;
    &__img{
        width: 20%;
    }
        & img{
            width: 100%;
            border : 1px solid #ccc;
        }
    &__content{
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }
        & p{
            margin: 5px 0;
            font-size: 14px;
        }
        & input{
            width: 10%;
            padding: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }
        & button{
            height: 20px;
            width: 10%;
            border: none;
            cursor: pointer;
            background-color: $color-primary;
        }
}




// CART PRICE

.cart__price{
	border: 1px solid #000;
	padding: 20px;
    font-size: 22px;
    & span{
        font-weight: bold;
    }
}



// CART ORDER

.cart__order {
	display: flex;
    flex-direction: column;
	justify-content: center;
	margin-top: 60px;
    &__form{
        display: flex;
        flex-wrap: wrap;
        &__question{
            width: 30%;
            margin: 20px 0;
            & input{
	            height: 26px;
	            margin-top: 4px;
                border: 1px solid #ccc;
            }
            & input:focus:invalid{
                outline: none;
            }
            & span{
                color: red;
                font-size: 12px;
            }
        }
    }
}


.cart__order__form__submit {
    width: 100%;
	justify-content: center;
    & button{
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        margin-top: 20px;
    }
    & button:hover{
        cursor: pointer;
        border: 1px solid #000;
        color: #000;
        background-color: #fff;
    }
}





/*Media queries*/

@media screen and (max-width: 1199px) { 
    .cart{
        padding: 20px;
    }
	.cart__items {
		flex-direction: column;
		align-items: center;
	}
	.cart__items__img {
		width: 30%;
	}
	.cart__items__content {
		width: 90%;
        text-align: center;
	}
	.cart__items__content__titlePrice {
		margin-bottom: 20px;
	}
	.cart__price p {
		text-align: center;
	}
	.cart__order {
		justify-content: center;
	}
	.cart__order__form {
		flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
	}
}