// PRESENTATION

.presentation{
    margin: 0 auto;
    text-align: center;
    height: 250px;
    background-image: url(../../public/img/teddy_large.jpg);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
    & h1{
        padding: 2.5em 0;
        font-size: 24px;
        color: #fff;
    }
    & h2{
        font-size: 18px;
        color: #fff;
    }
}



// PRODUCT

.container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
}

.products{
    display: flex;
    flex-flow: row wrap;
    
    & a{
        background-color: $color-primary;
        display: flex;
        flex-flow: column wrap;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0 0 0 / 20%);
        position: relative;
        text-decoration: none;
        color: #000;
        text-align: center;
    }
    & figure{
        overflow: hidden;
    }
    & img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        transform: scale(1);
	    transition: .3s ease-in-out;
        &:hover{
            transform: scale(1.2, 1.2);
        }
    }
    & h3{
        padding: 15px 0 5px 10px;
    }
    & p{
        padding: 0 0 15px 10px;
    }
}


/* ***** RESPONSIVE ***** */

// PRODUCT

@media screen and (max-width: 1199px){
    .container{
        flex-direction: column;
    }

    .products{
        & a{
            width: 80%;
            margin: 20px auto;
        }
        & img{
            height: auto;
        }
    }
}
