.container__product{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 50px auto;
}

.product{
    display: flex;
    padding: 50px 0;
    &__img{
        width: 50%;
        border : 1px solid #ccc;
    }
    &__infos{
        padding-left: 100px;
        & h2{
            padding: 10px 0;
        }
        & p{
            padding: 50px 0;
        }
    }
    & button{
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        margin-top: 30px;
    }
    & button:hover{
        cursor: pointer;
        background-color: #af6ca4;
    }
    & h3{
        font-size: 14px;
    }
    & #addProduct{
        margin-top: 20px;
        font-weight: bold;
        width: 50%;
    }
}




/* ***** RESPONSIVE ***** */

// PRODUCT

@media screen and (max-width: 1199px){
    .product{
        flex-direction: column;
        padding: 0 50px;
        &__img{
            width: 100%;
            margin: 30px auto;
        }
        &__infos{
            text-align: center;
            padding-left: 0;
        }
    }
}


